# Ignore the other docker directories
docker/frontend/
docker/geoserver/
docker/mssql/
docker/nginx/

# Ignoring git and cache folders
.git
.github
.mypy_cache
**/__pycache__/
__pycache__/

# node
node_modules/

# Envs
.venv/
venv/
.env/
.env/

# Misc
*.md
*.db
.coverage
.vscode
pyrightconfig.json
