*.db
*.db-journal
.venv/
venv/
__pycache__/
web.config
.vscode/settings.json
.idea/
cgi.log
search-index.log
search-date.json
.env
.azure/
._env
._env_*
.pytest_cache/
.coverage
**/*.hidden*
output/*
output-dso/*
!output/.gitkeep
.vscode
notes.md
.python-version
temp/
tmp/
node_modules/
package.json
package-lock.json
omgevingsbeleid_api.egg-info/*