# https://aka.ms/yaml

trigger:
  branches:
    include:
      - 'azure-pipelines-temp'
#  tags:
#    include:
#      - '*'

pool:
  name: 'PZH-Agent'

jobs:
  - job: Build
    displayName: "Build and Archive"   
    steps:
      - checkout: self
        displayName: 'Checkout code'

      - task: ArchiveFiles@2
        inputs:
          rootFolderOrFile: $(System.DefaultWorkingDirectory)
          includeRootFolder: false
          archiveType: 'zip'
          archiveFile: $(Build.ArtifactStagingDirectory)/$(Build.BuildId).zip
          replaceExistingArchive: true
        displayName: 'Archive application files'

      - task: PublishBuildArtifacts@1
        inputs:
          artifactName: 'drop'
          pathToPublish: $(Build.ArtifactStagingDirectory)
        displayName: 'Publish Artifact'
