services:

  api:
    build:
      context: ./
      dockerfile: ./docker/api/Dockerfile
    ports:
      - "8000:80"
      - "5678:5678" # Debug app port
      - "5679:5679" # Debug DAP adapter port
    volumes:
      - ./:/code
    environment:
      DB_USER: ${DB_USER}
      DB_PASS: ${DB_PASS}
      DB_HOST: ${DB_HOST}
      DB_PORT: ${DB_PORT}
      DB_NAME: ${DB_NAME}
      DB_DRIVER: ${DB_DRIVER}
      JWT_SECRET: secret
      DEBUG_MODE: True
      SQLALCHEMY_DATABASE_URI: ${SQLALCHEMY_DATABASE_URI}
      PYTHONPATH: "/code"
      PUBLICATION_KOOP__PROD__API_KEY: ""
      PUBLICATION_KOOP__PROD__RENVOOI_API_URL: "https://renvooiservice-eto.overheid.nl"
      PUBLICATION_KOOP__PROD__PREVIEW_API_URL: "https://besluitpreviewservice-eto.overheid.nl"
    restart: "no"
    security_opt:
      - seccomp:unconfined
    cap_add:
      - SYS_PTRACE

  mssql:
    image: mcr.microsoft.com/mssql/server:2022-latest
    ports:
      - "1433:1433"
    environment:
      ACCEPT_EULA: Y
      MSSQL_SA_PASSWORD: 'Passw0rd'
    volumes:
      - mssql:/var/opt/mssql
      - ./docker/mssql/:/opt/sql/:ro
    healthcheck:
      test: /opt/mssql-tools18/bin/sqlcmd -S localhost -U SA -P Passw0rd -Q "SELECT 1" -b -C -o /dev/null
      interval: 1s
      timeout: 3s
      retries: 10
      start_period: 1s
    restart: "no"

  postgres:
    image: postgis/postgis:18-3.6
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: pzh
      POSTGRES_PASSWORD: password
      POSTGRES_DB: omgevingsbeleid
    volumes:
      - ./docker/postgres/init-extensions.sql:/docker-entrypoint-initdb.d/01-extensions.sql:ro
      - postgres:/var/lib/postgresql

  pgadmin:
    image: dpage/pgadmin4
    ports:
      - "8001:80"
    environment:
      PGADMIN_DEFAULT_EMAIL: test@example.com
      PGADMIN_DEFAULT_PASSWORD: password
      PGADMIN_CONFIG_SERVER_MODE: 'False'
      PGADMIN_CONFIG_MASTER_PASSWORD_REQUIRED: 'False'
    depends_on:
      - postgres
    volumes:
      - ./docker/pgadmin/servers.json:/pgadmin4/servers.json:ro
      - ./docker/pgadmin/pgpass:/pgpass:ro
      - pgadmin:/var/lib/pgadmin

  pgloader:
    image: dimitri/pgloader
    volumes:
      - ./:/app
    command: pgloader --help

volumes:
  mssql:
  postgres:
  pgadmin:
