[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
records = "*"
flask-graphql = "*"
graphene = "*"
cerberus = "*"
pyodbc = "*"
wfastcgi = "*"
flask-restful = "*"
flask-restful-swagger = "*"

[dev-packages]

[requires]
python_version = "3.6"
