[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
records = "==0.5.2"
pyodbc = "*"
wfastcgi = "*"
flask-restful = "*"
flasgger = "*"
marshmallow = "*"
apispec = "*"
flask-jwt-extended = "*"
passlib = {extras = ["bcrypt"]}
apispec-webframeworks = "*"
flask-cors = "*"
elasticsearch-dsl = "*"

[dev-packages]
pylint = "*"
"autopep8" = "*"

[requires]
python_version = "3.6"

[pipenv]
allow_prereleases = true
