[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
records = "*"
pyodbc = "*"
wfastcgi = "*"
flask-restful = "*"
flasgger = "*"
marshmallow = "*"

[dev-packages]

[requires]
python_version = "3.6"

[pipenv]
allow_prereleases = true
