# Development Environment
pytest
black
mypy
sqlalchemy[mypy]
pylint
flake8
autoflake
freezegun
bandit
isort

Faker
devtools
coverage
coverage-badge
pytest
pytest-cov
pytest-mock
requests-mock
freezegun
debugpy
ipython
alembic
