# Development Environment
python-lsp-ruff
python-lsp-server
python-lsp-server[rope]
ruff

Faker
devtools
coverage
coverage-badge
pytest
pytest-cov
pytest-mock
requests-mock
freezegun
debugpy
ipython
alembic
