# Core libraries
fastapi
uvicorn[standard]
pydantic
pydantic-settings
pyodbc
SQLAlchemy
pyyaml
requests
requests-toolbelt
dependency-injector

# JWT
pyjwt
passlib
python-multipart
bcrypt==4.0.1

# Util
diff-match-patch
pytz
validators
shapely
geopandas

# Command
Click

# Async requests
httpx

# Validators
beautifulsoup4

# Image information
Pillow

# PDF information
pikepdf

# Exporting xml and pdf
fs
pdfkit
jinja2
dicttoxml
lxml

# DSO
git+https://github.com/Provincie-Zuid-Holland/Omgevingsbeleid-DSO.git@v0.8.3
