# Core libraries
fastapi
uvicorn[standard]
pydantic==1.*
pyodbc
SQLAlchemy
pyyaml

# JWT
python-jose
passlib
python-multipart
bcrypt==4.0.1

# Util
diff-match-patch
pytz
validators
shapely
geopandas

# Command
Click

# Async requests
httpx

# Validators
beautifulsoup4

# Image information
Pillow

# Exporting xml and pdf
fs
pdfkit
jinja2
dicttoxml
lxml

# DSO
git+https://github.com/Provincie-Zuid-Holland/Omgevingsbeleid-DSO.git@v0.0.51
