# Core libraries
fastapi
uvicorn[standard]
pydantic
pydantic-settings
pyodbc
SQLAlchemy
pyyaml
requests
requests-toolbelt
dependency-injector

# JWT
python-jose
passlib
python-multipart
bcrypt==4.0.1

# Util
diff-match-patch
pytz
validators
shapely
geopandas

# Command
Click

# Async requests
httpx

# Validators
beautifulsoup4

# Image information
Pillow

# Exporting xml and pdf
fs
pdfkit
jinja2
dicttoxml
lxml

# DSO
git+https://github.com/Provincie-Zuid-Holland/Omgevingsbeleid-DSO.git@5df8e7be4ee08708fe904b7f83506248fa6a92d4
