<settings>
  <id>SettingsInfoImpl-7e80856d:17fb62926f4:-7ffb</id>
  <workspace>
    <id>WorkspaceInfoImpl-7e80856d:17fb62926f4:-7ffe</id>
    <name>Omgevingsbeleid</name>
    <isolated>false</isolated>
    <dateCreated>2022-03-23 09:50:33.818 UTC</dateCreated>
    <dateModified>2022-03-23 10:08:48.634 UTC</dateModified>
  </workspace>
  <contact>
    <id>contact</id>
    <addressCity>Den Haag</addressCity>
    <addressCountry>The Netherlands</addressCountry>
    <addressType>Work</addressType>
    <contactEmail>info@pzh.nl</contactEmail>
    <contactOrganization>Provincie Zuid Holland</contactOrganization>
    <contactPerson>Ingmar Emons</contactPerson>
    <contactPosition>Geo lead</contactPosition>
    <internationalAddress class="org.geotools.util.GrowableInternationalString"/>
    <internationalAddressCity class="org.geotools.util.GrowableInternationalString"/>
    <internationalAddressCountry class="org.geotools.util.GrowableInternationalString"/>
    <internationalAddressDeliveryPoint class="org.geotools.util.GrowableInternationalString"/>
    <internationalAddressPostalCode class="org.geotools.util.GrowableInternationalString"/>
    <internationalAddressState class="org.geotools.util.GrowableInternationalString"/>
    <internationalAddressType class="org.geotools.util.GrowableInternationalString"/>
    <internationalContactEmail class="org.geotools.util.GrowableInternationalString"/>
    <internationalContactFacsimile class="org.geotools.util.GrowableInternationalString"/>
    <internationalContactOrganization class="org.geotools.util.GrowableInternationalString"/>
    <internationalContactPerson class="org.geotools.util.GrowableInternationalString"/>
    <internationalContactPosition class="org.geotools.util.GrowableInternationalString"/>
    <internationalContactVoice class="org.geotools.util.GrowableInternationalString"/>
  </contact>
  <charset>UTF-8</charset>
  <numDecimals>8</numDecimals>
  <onlineResource>http://geoserver.org</onlineResource>
  <verbose>false</verbose>
  <verboseExceptions>false</verboseExceptions>
  <metadata>
    <map>
      <entry>
        <string>quietOnNotFound</string>
        <boolean>false</boolean>
      </entry>
    </map>
  </metadata>
  <localWorkspaceIncludesPrefix>false</localWorkspaceIncludesPrefix>
  <showCreatedTimeColumnsInAdminList>false</showCreatedTimeColumnsInAdminList>
  <showModifiedTimeColumnsInAdminList>false</showModifiedTimeColumnsInAdminList>
</settings>