id: maatregel
object_type: maatregel

sort_allowed_columns: &sort_allowed_columns
  - Object_ID
  - Title
  - Modified_Date

sort_default_title: &sort_default_title
  default:
    column: Title
    order: asc
  allowed_columns: *sort_allowed_columns

sort_default_modified_date: &sort_default_modified_date
  default:
    column: Modified_Date
    order: desc
  allowed_columns: *sort_allowed_columns

api:
  routers:
    - prefix: /maatregelen
      endpoints:
        - resolver: valid_list_lineages
          resolver_data:
            path: /valid
            response_model: maatregel_basic
            allowed_filter_columns:
              - Title
              - Weblink
            sort: *sort_default_title
        - resolver: valid_list_lineage_tree
          resolver_data:
            path: /valid/{lineage_id}
            response_model: maatregel_basic
            allowed_filter_columns:
              - Title
              - Weblink
            sort: *sort_default_modified_date
        - resolver: object_version
          resolver_data:
            path: /version/{object_uuid}
            response_model: maatregel_full
        - resolver: object_latest
          resolver_data:
            path: /latest/{lineage_id}
            response_model: maatregel_full
        - resolver: list_relations
          resolver_data:
            path: /relations/{lineage_id}
        - resolver: overwrite_relations
          resolver_data:
            path: /relations/{lineage_id}
            allowed_object_types_relations:
              - beleidskeuze
              - gebiedsprogramma
              - verplicht_programma
    - prefix: /maatregel/static/{lineage_id}
      endpoints:
        - resolver: edit_object_static
          resolver_data:
            request_model: maatregel_static_post
            result_model: maatregel_static_post_validated
    - prefix: /modules/{module_id}/object/maatregel
      endpoints:
        - resolver: module_patch_object
          resolver_data:
            path: /{lineage_id}
            request_model: maatregel_patch
            response_model: maatregel_uuid
        - resolver: module_list_lineage_tree
          resolver_data:
            path: /{lineage_id}
            response_model: maatregel_extended
            allowed_filter_columns:
              - Title
              - Weblink
            sort: *sort_default_modified_date
        - resolver: module_object_latest
          resolver_data:
            path: /latest/{lineage_id}
            response_model: maatregel_full
        - resolver: module_object_version
          resolver_data:
            path: /version/{object_uuid}
            response_model: maatregel_full
    - prefix: /modules/objects/maatregel
      endpoints:
        - resolver: list_active_module_objects
          resolver_data:
            path: /active/{lineage_id}
    - prefix: /revisions/{module_id}/maatregel/version/{object_uuid}
      endpoints:
        - resolver: module_object_version
          resolver_data:
            response_model: maatregel_full
            minimum_status: 'Ontwerp GS Concept'
            require_auth: False


fields:
  title:
    name: Title
    type: str
    column: title
    validators:
      - id: none_to_default_value
  description:
    name: Description
    type: str
    column: description
    validators:
      - id: none_to_default_value
  role:
    name: Role
    type: str
    column: role
    validators:
      - id: none_to_default_value
  effect:
    name: Effect
    type: str
    column: effect
    validators:
      - id: none_to_default_value
  idms_link:
    name: IDMS_Link
    type: str
    column: idms_link
    validators:
      - id: none_to_default_value
  decision_number:
    name: Decision_Number
    type: str
    column: decision_number
    validators:
      - id: none_to_default_value
  documents:
    name: Documents
    type: list_str
    column: documents
    validators:
      - id: none_to_default_value
  hierarchy_code:
    name: Hierarchy_Code
    type: str
    column: hierarchy_code
    validators:
      - id: none_to_default_value
  werkingsgebied_code:
    name: Werkingsgebied_Code
    type: str
    column: werkingsgebied_code
    validators:
      - id: none_to_default_value
  gebiedengroep_code:
    name: Gebiedengroep_Code
    type: str
    column: gebiedengroep_code
    validators:
      - id: none_to_default_value

  # Statics
  owner_1_uuid:
    name: Owner_1_UUID
    type: uuid
    column: owner_1_uuid
    optional: true
  owner_2_uuid:
    name: Owner_2_UUID
    type: uuid
    column: owner_2_uuid
    optional: true
  portfolio_holder_1_uuid:
    name: Portfolio_Holder_1_UUID
    type: uuid
    column: portfolio_holder_1_uuid
    optional: true
  portfolio_holder_2_uuid:
    name: Portfolio_Holder_2_UUID
    type: uuid
    column: portfolio_holder_1_uuid
    optional: true
  client_1_uuid:
    name: Client_1_UUID
    type: uuid
    column: client_1_uuid
    optional: true

models:
  maatregel_minimal:
    name: MaatregelMinimal
    fields:
      object_type:
      object_id:
      uuid:
      title:
  maatregel_basic:
    name: MaatregelBasic
    fields:
      object_id:
      code:
      uuid:
      adjust_on:
      created_date:
      modified_date:
      start_validity:
      end_validity:
      title:
    services:
      next_object_version:
        to_field: Next_Version
  maatregel_extended:
    name: MaatregelExtended
    fields:
      object_id:
      code:
      uuid:
      adjust_on:
      created_date:
      modified_date:
      start_validity:
      end_validity:
      title:
      hierarchy_code:
      werkingsgebied_code:
      gebiedengroep_code:
    dependency_model_ids:
      - user_short
    services:
      foreign_keys_extender:
        fields_map:
          - to_field: Created_By
            model_id: user_short
          - to_field: Modified_By
            model_id: user_short
      static_foreign_keys_extender:
        fields_map:
          - to_field: Owner_1
            model_id: user_short
          - to_field: Owner_2
            model_id: user_short
          - to_field: Portfolio_Holder_1
            model_id: user_short
          - to_field: Portfolio_Holder_2
            model_id: user_short
          - to_field: Client_1
            model_id: user_short
  maatregel_full:
    name: MaatregelFull
    fields:
      object_id:
      code:
      uuid:
      adjust_on:
      created_date:
      modified_date:
      start_validity:
      end_validity:
      title:
      description:
      documents:
      role:
      effect:
      hierarchy_code:
      werkingsgebied_code:
      gebiedengroep_code:
    dependency_model_ids:
      - user_short
      - hierarchy_statics
      - beleidskeuze_minimal
      - gebiedsprogramma_minimal
      - werkingsgebied_basic
      - werkingsgebied_statics
    services:
      next_object_version:
        to_field: Next_Version
      public_revisions:
        to_field: Public_Revisions
      join_werkingsgebieden:
        model_id: werkingsgebied_basic
        to_field: Werkingsgebied
        from_field: Werkingsgebied_Code
      join_documents:
        to_field: Documents_Statics
        from_field: Documents
      join_gebiedengroepen:
        to_field: Gebiedengroep_Static
        from_field: Gebiedengroep_Code
      insert_assets:
        fields:
          - Description
          - Effect
      relations:
        objects:
          - object_type: beleidskeuze
            object_id: beleidskeuze
            to_field: "Beleidskeuzes"
            model_id: beleidskeuze_minimal
            wrapped_with_relation_data: true
          - object_type: gebiedsprogramma
            object_id: gebiedsprogramma
            to_field: "Gebiedsprogrammas"
            model_id: gebiedsprogramma_minimal
            wrapped_with_relation_data: true
      foreign_keys_extender:
        fields_map:
          - to_field: Hierarchy_Statics
            model_id: hierarchy_statics
          - to_field: Werkingsgebied_Statics
            model_id: werkingsgebied_statics
          - to_field: Created_By
            model_id: user_short
          - to_field: Modified_By
            model_id: user_short
      static_foreign_keys_extender:
        fields_map:
          - to_field: Owner_1
            model_id: user_short
          - to_field: Owner_2
            model_id: user_short
          - to_field: Portfolio_Holder_1
            model_id: user_short
          - to_field: Portfolio_Holder_2
            model_id: user_short
          - to_field: Client_1
            model_id: user_short
  maatregel_patch:
    name: MaatregelPatch
    fields:
      title:
        default: none
        optional: true
        validators:
          - id: length
            data:
              min: 3
              max: 200
          - id: plain_text
      description:
        default: none
        optional: true
        validators:
          - id: html
          - id: image
            data:
              max_width: 1500
              max_height: 2500
              max_kb: 800
      role:
        default: none
        optional: true
      effect:
        default: none
        optional: true
        validators:
          - id: html
          - id: image
            data:
              max_width: 1500
              max_height: 2500
              max_kb: 800
      hierarchy_code:
        default: none
        optional: true
        validators:
          - id: object_code_allowed_type
            data:
              allowed_object_types:
                - beleidskeuze
          - id: object_code_exists
      documents:
        default: none
        optional: true
        validators:
          - id: object_codes_allowed_type
            data:
              allowed_object_types:
                - document
          - id: object_codes_exists
      werkingsgebied_code:
        default: none
        optional: true
        validators:
          - id: object_code_allowed_type
            data:
              allowed_object_types:
                - werkingsgebied
          - id: object_code_exists
      gebiedengroep_code:
        default: none
        optional: true
        validators:
          - id: object_code_allowed_type
            data:
              allowed_object_types:
                - gebiedengroep
          - id: object_code_exists
    services:
      extract_assets:
        fields:
          - Description
          - Effect
  maatregel_static_post:
    name: MaatregelStaticPost
    static_only: true
    fields:
      owner_1_uuid:
        default: none
        optional: true
      owner_2_uuid:
        default: none
        optional: true
      portfolio_holder_1_uuid:
        default: none
        optional: true
      portfolio_holder_2_uuid:
        default: none
        optional: true
      client_1_uuid:
        default: none
        optional: true
  maatregel_static_post_validated:
    name: MaatregelStaticPostValidated
    static_only: true
    model_validators:
      - id: not_equal_root
        data:
          fields:
            - Owner_1_UUID
            - Owner_2_UUID
          allow_none: True
          error_message: Owners should vary
      - id: not_equal_root
        data:
          fields:
            - Portfolio_Holder_1_UUID
            - Portfolio_Holder_2_UUID
          allow_none: True
          error_message: Portfolio Holders should vary
    fields:
      owner_1_uuid:
      owner_2_uuid:
        default: none
        optional: true
      portfolio_holder_1_uuid:
        default: none
        optional: true
      portfolio_holder_2_uuid:
        default: none
        optional: true
      client_1_uuid:
        default: none
        optional: true
  maatregel_uuid:
    name: MaatregelUUID
    fields:
      object_id:
      uuid:
  maatregel_module_validate:
    name: MaatregelModuleValidate
    fields:
      title:
        validators:
          - id: length
            data:
              min: 3
              max: 200
          - id: plain_text
      description:
        validators:
          - id: length
            data:
              min: 3
          - id: html
      role:
        optional: true
        validators:
          - id: none_to_default_value
          - id: length
            data:
              min: 3
      effect:
        optional: true
        validators:
          - id: none_to_default_value
          - id: length
            data:
              min: 3
          - id: html
      hierarchy_code:
        validators:
          - id: object_code_allowed_type
            data:
              allowed_object_types:
                - beleidskeuze
          - id: object_code_exists
      documents:
        default: none
        optional: true
        validators:
          - id: object_codes_allowed_type
            data:
              allowed_object_types:
                - document
          - id: object_codes_exists
      werkingsgebied_code:
        default: none
        optional: true
        validators:
          - id: object_code_allowed_type
            data:
              allowed_object_types:
                - werkingsgebied
          - id: object_code_exists
