<html>
    <head></head>
    <body style="background-color: white;">
        <h1>{{ object["Title"] }}</h1>

        <div>
            {{ object["Description"] | replace('\n', '<br>') | safe }}
        </div>

        <hr />

        {% if object["Weblink"] is not none %}
        <div>
            Weblink: {{ object["Weblink"] }}
        </div>
        {% endif %}
    </body>
</html>